### Data Stat

This notebook sumarizes the preliminary data found in Corona virus, Covid-19 document count, time published, cohort studied etc.

In [1]:
import json as json

In [2]:
with open("corona_id2name.json",'r')as rf:
    id2name = json.load(rf)

In [3]:
DATA = []
with open("../mesh_search/mesh_corona_papers.json", 'r') as fcount:
        data = json.load(fcount)
        for key,value in data.items():
            DATA.append({"MeSH":key,"Count":len(value)})

In [4]:
DATA

[{'Count': 679, 'MeSH': 'C01.925.782.600.550.200'},
 {'Count': 5, 'MeSH': 'C01.925.782.600.550.200.325'},
 {'Count': 1045, 'MeSH': 'C01.925.782.600.550.200.360'},
 {'Count': 153, 'MeSH': 'C01.925.782.600.550.200.400'},
 {'Count': 12176, 'MeSH': 'C01.925.782.600.550.200.750'}]

In [5]:
import pandas as pd
DF = pd.DataFrame(DATA)

In [6]:
DF = DF.sort_values('Count', ascending =False)

In [8]:
DF

,Count,MeSH,Name
4,12176,C01.925.782.600.550.200.750,Severe Acute Respiratory Syndrome
2,1045,C01.925.782.600.550.200.360,Feline Infectious Peritonitis
0,679,C01.925.782.600.550.200,Coronavirus Infections
3,153,C01.925.782.600.550.200.400,"Gastroenteritis, Transmissible, of Swine"
1,5,C01.925.782.600.550.200.325,"Enteritis, Transmissible, of Turkeys"

In [9]:
DF['Name'] = DF['MeSH'].apply(lambda x: id2name[x])

In [10]:
DF = DF.set_index('Name')

In [11]:
DF

                                          Count                         MeSH
Name
Severe Acute Respiratory Syndrome         12176  C01.925.782.600.550.200.750
Feline Infectious Peritonitis              1045  C01.925.782.600.550.200.360
Coronavirus Infections                      679      C01.925.782.600.550.200
Gastroenteritis, Transmissible, of Swine    153  C01.925.782.600.550.200.400
Enteritis, Transmissible, of Turkeys          5  C01.925.782.600.550.200.325

In [12]:
DF.to_csv('corona_mesh_count.csv')